<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<preference for="\Magento\Framework\Mail\Transport" type="BelVG\Mailhog\Model\Transport"/>-->
    <type name="\Magento\Framework\Mail\Transport">
        <plugin sortOrder="0" name="mailhogbelvg" type="BelVG\Mailhog\Plugin\Mail\TransportPlugin"/>
    </type>

    <!-- For Magento Eq 2.2 -->
    <type name="\Magento\Framework\Mail\TransportInterface">
        <plugin sortOrder="0" name="mailhogbelvg" type="BelVG\Mailhog\Plugin\Mail\TransportPlugin"/>
    </type>
</config>